<% article = assigns[:article] %>

<div id="article-container">
  <span class="badge"><%= article["source"]["name"] %></span>
  <h4><%= article["title"] %></h4>
  <h5><%= article["description"] %></h5>
  <img src="<%= article["urlToImage"] %>">
  <p><%= article["content"] %></p>
  <a href="<%= article["url"] %>">
    Go to full article
  </a>
</div>

<!-- <%= gettext "Welcome to %{name}!", name: "Phoenix" %> -->