<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Newsfeed!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="">
      <header class="header">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1><span class="liberal">Blue</span> News, <span class="conservative">Red</span> News</h1>
              <h5>See <span class="liberal">Liberal</span> News and <span class="conservative">Conservative</span> News, Side by Side</h5>
              <nav role="navigation" class="text-center">
                <ul class="nav nav-pills" style="display: inline-block">
                  <li><a href="http://www.phoenixframework.org/docs">About</a></li>
                  <li><a href="http://www.phoenixframework.org/docs">Methodology</a></li>
                  <li><a href="http://www.phoenixframework.org/docs">Author</a></li>
                </ul>
              </nav>
            </div>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.run(@conn) %>
  </body>
</html>
